<h2>random hex58: <%= @random_text %></h2>
<h2>total site visits: <%= @total_visits %></h2>
<h2>your visits: <%= @your_visits %></h2>

<p>My karins:</p>
<p>
  <%= image_tag "me.png", width: 2560  %>
  <%= image_tag "ka_ka_kawin.png", width: 2560  %>
  <%= image_tag "karin.png", width: 2560  %>
  <%= image_tag "karin_seife.png", width: 2560  %>
  <%= image_tag "white_cat_karin.png", width: 2560  %>
</p>